@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("./Inter/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-weight: 400;
  src: url("./Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-weight: 500;
  src: url("./Manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope";
  font-weight: 600;
  src: url("./Manrope/Manrope-SemiBold.ttf") format("truetype");
}
