.baseClass {
  /* position: absolute; */
  width: 21px;
  height: 22px;
  /* top: 16.25px;
  right: 16.25px; */

  display: inline-block;
  fill: none;
  cursor: pointer;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 1.5px;
}

.active {
  color: #3470ff;
  fill: #3470ff;
  stroke: #3470ff;
}

.disabled {
  color: rgba(255, 255, 255, 0.8);
  /* stroke: rgba(255, 255, 255, 0.8); */
  fill: none;
}
.button {
  cursor: pointer;
  position: absolute;
  top: 16.25px;
  right: 16.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 22px;
  /* z-index: 1000; */
  display: inline-block;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &:hover {
    color: #3470ff;
  }
}
