.carslist {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* align-content: flex-start; */
  list-style: none;
  gap: 29px;
  width: 1184px;
  /* height: 426px; */
}

.item {
  max-width: 600px;
}
.container {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 88px;
}
.listContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
