@import-normalize;
@import url("./font/fonts.css");

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Inter", sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 30px;
  background-color: #c6cccc29;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  gap: 30px;
}

ul {
  list-style: none;
  margin: 0;
}

p {
  margin: 0;
}
h2 {
  display: block;
  margin: 0;
}
